/* CSS variables */
:root {
    --primary: #302EEF;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #31333d;
    --grey-darkest: #191D29;
}

.default_theme {
    --primary: #302EEF;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #31333d;
    --grey-darkest: #191D29;
}

.simply_fabulous {
    --primary: #822eef;

    --white: #8d98bd;
    --bg-color: #262627;

    --grey: #282a30;
    --grey-light: #303446;
    --grey-lighter: #9995cf;
    --grey-lightest: #e6e9f7;

    --grey-dark: #525050;
    --grey-darkest: #272626;
}

.tropical_island {
    --primary: #157015;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #1d613c;
    --grey-darkest: #133a27;
}

.safari {
    --primary: #078881;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #0d5466;
    --grey-darkest: #08353b;
}

.tranquility {
    --primary: #0fb3e6;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #0045ad;
    --grey-darkest: #024694;
}

.mustache_bash {
    --primary: #b1a508;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #6a7504;
    --grey-darkest: #3f4601;
}

.candy_crush {
    --primary: #a52b05;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #752f01;
    --grey-darkest: #581d02;
}

.garden_party {
    --primary: #e207a1;

    --white: #fff;
    --bg-color: #FAF9FE;

    --grey: #A7ADBC;
    --grey-light: #AFB4CE;
    --grey-lighter: #f7f7f7;
    --grey-lightest: #FCFCFC;

    --grey-dark: #58034a;
    --grey-darkest: #41013d;
}

/* Adding reset styles */
*,
*:after,
*:before {
    box-sizing: inherit;
}
body,
html {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 62.5%;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    color: var(--grey-darkest);
    font-size: 1.6rem;
    background-color: var(--grey-lightest);
    box-sizing: border-box;
}
h1, h2, h3, h4 {
    margin: 0;
}
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
}